{% extends "base.html" %}
{% block title %}
  Об авторе проекта
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="text-center py-3">
      <h1>Привет, я автор:)</h1>
      <p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:
        ANd9GcTBqbDIqKN5yKaZsLKRdjQ38anch1fl6c2pUMcGqe0Ds7y88dMi8BmFCu
        -xQr3shrMYs9I&usqp=CAU">
      </p>
      <h3>Люблю котиков и булочки!<br>
        ...Даже не знаю, что больше<span>🤔</span><br>
        <br>
        Не, ну конечно, котиков<span>😺</span>
      </h3>
      <p><br>
        В целом, я не блогер, поэтому много о себе писать не буду,<br>
        <b>а вот ВЫЫЫЫ</b> делитесь, кто вы и как здесь оказались,
      </p>
      <h3>в новой социальной сети:</h3>
      <h1>Yatube<br>
        <span>🥳🥳🥳</span>
      </h1>
    </div>
  </div>
{% endblock %}
