{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <h2>Вот что я умею</h2>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>Путь программиста сложен и тернист,<br>
          Но все же очень интересен!<br>
          Неважно, сишник или питонист, - <br>
          Нам этот мир совсем не тесен!
        </p>
      </article>
    </div>
  </div>
{% endblock %}
